
#container1 {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	background-color: #7EA1C4;
	padding: 20px 20px;
}
h2{
	font-size: 30px;
	font-family: 'Arial' , 'helvetica' , san-serif;
}

body {
	font-size: 18px;
	font-family: 'Arial' , 'helvetica' , san-serif;
}

.hidden { display: none; }
.wrapper {
	padding: 30px;
	margin-bottom: 50px;
	width: 900px;
	text-align: center;
	background-color: white;
}

.data-img { width: 60%; max-width: 100%; }

